.home
{

    height: 900px;
    background-image: url('../img/Colored\ Shapes.svg');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.col
{
    float: right;
    color: aliceblue;
}
#con-home{
    padding-top: 20vh;
}
#h-home {
    padding-top: 26vh;
}
#img-home{
    min-width: 190px; 
    min-height: 500px;
    padding-top: 10vh;
}
.navbar-floating{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
}
#btn-nav{
    float: right;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 20px;
    color:rgb(92, 4, 92);
    background-color: rgb(241, 239, 245);
    border-radius: 20px;
}
#btn-nav:hover,
#btn_submit:hover{
    box-shadow: 0 4px 16px 1px white;
}

#fa1{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 60px;
    padding: 15px;
    background-color: rgb(235, 139, 15);
    border-radius: 50%;
}
#fa2{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 60px;
    padding: 15px;
    background-color: rgb(16, 116, 3);
    border-radius: 50%;
}
#fa3{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 60px;
    padding: 15px;
    background-color: rgb(179, 53, 179);
    border-radius: 50%;
}
h5{
    color: rgb(12, 1, 11);
}
#featr{
    padding-top: 10vh;
}
#hed{
    color: rgb(12, 1, 11);
    padding-top: 10vh;
}
#par{
    color: rgb(12, 1, 11);
}
.features{
    padding-bottom: 50px;
}
.features2{
    background-image: url('../img/Colored\ Shaps.svg');
    padding-top: 20px;
    padding-bottom: 100px;
}
.features3{
    background-color: #383340; padding: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.customer_service{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0.456)), url('../img/bg\ ofice.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
}
.btn{
    color: white;
}
#btn_customer{
    color: white;
    border: 2px solid white;
    border-radius: 15px;
}
#btn_submit{
    background-color: rgb(148,0,211);
    padding-right: 35px;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 5px;
    margin-right: 5px;
    
}
.footer{
    color: white;
    background-color: #383340;
    padding-top: 50px;
    padding-bottom: 50px;
}